.jumbotron {

background: url(https://images.unsplash.com/photo-1466995937966-2e6f29c6ed60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}


