.jumbotron {
  height: 80%;
  background-image: url("https://images.unsplash.com/photo-1515376648559-4b3e931f07a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}